.content {
  color: #545454;
  font-family: "Libre Franklin", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  box-sizing: border-box;
  padding: 0;
  justify-content: center;
  max-width: 1180px;
  margin: 0 auto;
  margin-top: 20px;
}

.mat-card {
  margin: 10px 0px;
}

.mat-card-content{
  margin: 0px 16px 50px 16px;
}