<div class="content">
  <div class="review-container">
    <div *ngIf="!reviewData.length && showEmptyMsg">No reviews exist for this class yet. Be the first to leave one!</div>
    <mat-card *ngFor="let review of reviewData | slice:pageNumber*pageLength:(pageNumber+1)*pageLength">
      <mat-card-header>
        <mat-card-title>{{review.title}}</mat-card-title>
        <mat-card-subtitle>{{review.course}} - {{review.semester}} {{review.year}}</mat-card-subtitle>
        <mat-card-subtitle>{{review.timestamp.toMillis() | date: 'M/d/yyyy h:mm a z'}}</mat-card-subtitle>
        <div fxFlex></div>
        <div class="review-detail-buttons">
          <button mat-icon-button (click)="openSnackBar('Link copied to clipboard.', review.reviewId)">
            <mat-icon matTooltip="Copy link to review">add_link</mat-icon>
          </button>
          <div *ngIf="review.userId === userData?.uid" class="review-detail-owner-buttons">
            <button mat-icon-button routerLink="/review/edit/{{review.reviewId}}">
              <mat-icon matTooltip="Edit review">mode_edit</mat-icon>
            </button>
            <button mat-icon-button (click)="removeReview(review.reviewId)">
              <mat-icon matTooltip="Edit review">delete</mat-icon>
            </button>
          </div>
        </div>
      </mat-card-header>
      <mat-card-content>
        <div class="rating-grid">
          <span>Rating: {{review.rating}}</span>
          <span><app-star-rating [selectedValue]="review.rating"></app-star-rating></span>
          <span>Difficulty: {{review.difficulty}}</span>
          <span><app-star-rating [selectedValue]="review.difficulty"></app-star-rating></span>
          <span>Textbook: <span *ngIf="review.bookUsefulness>0">{{review.bookUsefulness}}</span></span>
          <span><app-star-rating [selectedValue]="review.bookUsefulness"></app-star-rating></span>
          <span>Lectures: <span *ngIf="review.lectureQuality>0">{{review.lectureQuality}}</span></span>
          <span><app-star-rating [selectedValue]="review.lectureQuality"></app-star-rating></span>
          <span>Professor: <span *ngIf="review.professorQuality>0">{{review.professorQuality}}</span></span>
          <span><app-star-rating [selectedValue]="review.professorQuality"></app-star-rating></span>
          <span>Piazza: <span *ngIf="review.piazzaCommunity>0">{{review.piazzaCommunity}}</span></span>
          <span><app-star-rating [selectedValue]="review.piazzaCommunity"></app-star-rating></span>
          <span>Workload:</span><span>{{review.workload}} hours per week</span>
        </div>
        <b>Review:</b><br>
          <p style="white-space: pre-line;">{{review.review}}</p>
        <br><br>
      <app-review-helpfulness [isLoggedIn]="isLoggedIn" [reviewId]="review.reviewId" [value]="getFeedbackValue(review.reviewId!)" 
                              [positive]="review.helpfulPositive" [negative]="review.helpfulNegative"></app-review-helpfulness>
    </mat-card-content>
    </mat-card>
  </div>
</div>