<div class="content">
  <div class="review-container">
    <mat-card *ngFor="let review of reviewData | slice:pageNumber*pageLength:(pageNumber+1)*pageLength">
      <mat-card-header>
        <mat-card-title>
          {{review.title}}
        </mat-card-title>
        <mat-card-subtitle>{{review.course}}</mat-card-subtitle>
        <mat-card-subtitle>{{review.timestamp.toMillis() | date: 'M/d/yyyy h:mm a z'}}</mat-card-subtitle>
        <div fxFlex></div>
        <button mat-icon-button (click)="openSnackBar('Link copied to clipboard.', review.reviewId)">
          <mat-icon matTooltip="Copy link to review">add_link</mat-icon>
        </button>
        <div *ngIf="review.userId === userData?.uid">
          <button mat-icon-button routerLink="/review/edit/{{review.reviewId}}">
            <mat-icon matTooltip="Edit review">mode_edit</mat-icon>
          </button>
          <button mat-icon-button (click)="removeReview(review.reviewId)">
            <mat-icon matTooltip="Edit review">delete</mat-icon>
          </button>
        </div>
      </mat-card-header>
      <mat-card-content>
        Rating: {{review.rating}} <br>
        Difficulty: {{review.difficulty}} <br>
        Workload: {{review.workload}} <br>
        <span *ngIf="review.bookUsefulness > 0">
          Book Usefulness: {{review.bookUsefulness}}
        </span>
        <br><br>
        <b>Review:</b><br>
          <p style="white-space: pre-line;">
            {{review.review}}
          </p>
        <br><br>
      Was this review helpful?
      <mat-button-toggle-group name="helpful" 
                               aria-label="Helpful" 
                               [disabled]="!isLoggedIn"
                               matTooltip="Must be logged in."
                               [matTooltipDisabled]="isLoggedIn">
        <mat-button-toggle value="yes">Yes</mat-button-toggle>
        <mat-button-toggle value="no">No</mat-button-toggle>
      </mat-button-toggle-group>
    </mat-card-content>
    </mat-card>
  </div>
</div>