<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>Send Feedback</mat-card-title>
            <p>
                This site is brand new and we're looking for feedback.
                If you experience any issues or have an idea to improve the 
                site please use this form to send feedback and we will get
                right on it.
            </p>
        </mat-card-header>
        <form class="login-form" [formGroup]="feedbackForm" (ngSubmit)="onSubmit()">
            <mat-card-content>
                <mat-form-field class="form-field-full-width">
                    <input matInput placeholder="Title"
                           formControlName="title"
                           [ngClass]="{'is-invalid': submitted}">
                </mat-form-field>
                <mat-form-field class="form-field-full-width">
                    <mat-label>Category</mat-label>
                    <mat-select formControlName="category">
                        <mat-option *ngFor="let item of feedbackTypes" [value]="item">{{item}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="form-field-full-width">
                    <textarea matInput type="textarea" rows="7"
                           formControlName="content" 
                           [ngClass]="{'is-invalid': submitted}"
                           placeholder="Feedback"></textarea>
                </mat-form-field>
            </mat-card-content>
            <button [disabled]="loading" mat-raised-button color="primary" class="btn-block">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Submit
            </button>
            <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
        </form>
    </mat-card>
</div>