<div class="footer">
    <span>Created by Eric Pryzant and Eric Straw</span>
    <a href="mailto:mscshub@gmail.com">mscshub@gmail.com</a>
    <span>© {{currentYear}} {{courseService.properName}}</span>
    <a href="https://mscshub.github.io/MSCSHub-documentation/">{{courseService.websiteName}} Documentation</a>
    <div class="footer-links">
        <a href="https://www.cs.utexas.edu/graduate-program/masters-program/online-option">Official UT Website</a>
        <a href="{{courseService.socialURL}}">{{courseService.socialName}}</a>
        <a href="https://github.com/MSCSHub/MSCSHub">Github</a>
        <a href="{{courseService.redditURL}}">{{courseService.redditName}}</a>
    </div>
</div>