<div class="footer">
    <span>Created by Eric Pryzant and Eric Straw</span>
    <a href="mailto:mscshub@gmail.com">mscshub@gmail.com</a>
    <span>© 2021 MSCS Hub</span>
    <a href="https://mscshub.github.io/MSCSHub-documentation/">MSCSHub Documentation</a>
    <div class="footer-links">
        <a href="https://www.cs.utexas.edu/graduate-program/masters-program/online-option">Official UT Website</a>
        <a href="https://utmscso.slack.com/archives/C01QM0A19QR">Slack #MSCSHub</a>
        <a href="https://github.com/MSCSHub/MSCSHub">Github</a>
        <a href="https://www.reddit.com/r/mscso">/r/MSCSO</a>
    </div>
</div>