.mat-card {
    max-width: 800px;
}

.review-spacer {
    text-align: center;
    padding-top: 15px;
    h3 {
        display: flex;
        justify-content: center;
    }
}

.review-slider-container {
    flex-direction: column;
    padding-bottom: 30px;
    align-items: center;
}

.review-label {
    align-self: center;
    padding-right: 7px;
}

::ng-deep .mat-tooltip  {
    white-space: pre-line !important;
}

::ng-deep .mat-slider-track-wrapper {
    height: 3px !important; 
    top: -2px !important;
    
}

::ng-deep .mat-slider-track-background {
    height: 3px !important; 
}

::ng-deep .mat-slider-track-fill {
    height: 3px !important; 
}

.mat-slider-horizontal {
    min-width: 500px;
}

// .review-slider-container {
//     align-items: center;
//     // flex-wrap: wrap;
// }

// .review-label {
//     min-width: 100px;
// }

// .review-slider {
//     // min-width: 300px;
// }