<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>{{headerText}}</mat-card-title>
            <p>
                Share what your experience was in your classes.
                To help structure your reviews, try listing what
                you liked (pros), what you disliked (cons), and
                then talk about your experience in the class overall.
            </p>
        </mat-card-header>

        <!-- Could potentially format this as a 'stepper'  -->
        <!-- Like list your pros and cons, overall, etc... -->

        <!-- Review Contains
        Title
        Course
        Semester
        Year
        Pros
        Cons
        Overall
        Ratings
            Overall Rating
            Difficulty
            Workload
            Book Usefulness
            Lecture Quality
            Professor Quality
            Piazza Community
            Fairness
        Boolean
            Projects
            Homeworks
            Exams
        Coding Language
            Chips + Autocomplete -->

        <form class="login-form" [formGroup]="reviewForm" (ngSubmit)="onSubmit()">
            <mat-card-content>
                <mat-form-field class="form-field-full-width">
                    <input matInput placeholder="Title"
                           formControlName="title" required
                           [ngClass]="{'is-invalid': submitted}">
                </mat-form-field>
                <mat-form-field class="form-field-full-width">
                    <mat-label>Course</mat-label>
                    <mat-select formControlName="course" required>
                        <div *ngFor="let course of courses">
                            <mat-option *ngIf="!completedReviews.includes(course.ClassName)"
                                [value]="course.ClassName">
                                {{course.ClassName}}
                            </mat-option>
                        </div>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="form-field-full-width">
                    <mat-label>Semester</mat-label>
                    <mat-select formControlName="semester" required>
                        <mat-option *ngFor="let semester of semesters" 
                            [value]="semester">
                            {{semester}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="form-field-full-width">
                    <mat-label>Year</mat-label>
                    <mat-select formControlName="year" required [ngClass]="{'is-invalid': submitted}">
                        <mat-option *ngFor="let year of years" 
                            [value]="year">
                            {{year}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <!-- <div class="pros">
                    <section class="main" *ngIf="pros.length > 0">
                    <ul>
                        <li *ngFor="let pro of pros">
                            <input matInput type="text" value="{{pro}}">
                        </li>
                        <li>
                            <input matInput type="text">
                        </li>
                    </ul>
                    </section>
                </div> -->
                <mat-form-field class="form-field-full-width">
                    <textarea matInput type="textarea" rows="20"
                           formControlName="review" required
                           [ngClass]="{'is-invalid': submitted}"
                           placeholder="Review"></textarea>
                </mat-form-field>
                <mat-form-field class="form-field-full-width">
                    <input matInput placeholder="Workload" 
                           type="number" max="50" min="10"
                           formControlName="workload" required
                           [ngClass]="{'is-invalid': submitted}">
                    <mat-hint>How many hours per week did this class require?</mat-hint>
                </mat-form-field>
                <mat-form-field class="form-field-full-width">
                    <input matInput placeholder="Rating" 
                           type="number" max="7" min="1"
                           formControlName="rating" required
                           [ngClass]="{'is-invalid': submitted}">
                    <mat-hint>Rate the class overall on a scale of 1-7</mat-hint>
                </mat-form-field>
                <mat-form-field class="form-field-full-width">
                    <input matInput placeholder="Difficulty" 
                           type="number" max="7" min="1"
                           formControlName="difficulty" required
                           [ngClass]="{'is-invalid': submitted}">
                    <mat-hint>Rate the difficulty on a scale of 1-7</mat-hint>
                </mat-form-field>
                <mat-form-field class="form-field-full-width">
                    <input matInput placeholder="Book Usefulness" 
                           type="number" max="7" min="1"
                           formControlName="bookUsefulness" required
                           [ngClass]="{'is-invalid': submitted}">
                    <mat-hint>Rate the book usefulness on a scale of 1-7</mat-hint>
                </mat-form-field>
                <mat-form-field class="form-field-full-width">
                    <input matInput placeholder="Lecture Quality" 
                           type="number" max="7" min="1"
                           formControlName="lectureQuality" required
                           [ngClass]="{'is-invalid': submitted}">
                    <mat-hint>Rate the quality of the lectures on a scale of 1-7</mat-hint>
                </mat-form-field>
                <mat-form-field class="form-field-full-width">
                    <input matInput placeholder="Professor Quality" 
                           type="number" max="7" min="1"
                           formControlName="professorQuality" required
                           [ngClass]="{'is-invalid': submitted}">
                    <mat-hint>Rate the quality of the professor on a scale of 1-7</mat-hint>
                </mat-form-field>
                <mat-form-field class="form-field-full-width">
                    <input matInput placeholder="Piazza Community" 
                           type="number" max="7" min="1"
                           formControlName="piazzaCommunity" required
                           [ngClass]="{'is-invalid': submitted}">
                    <mat-hint>Rate your experience with piazza community for this class on a scale of 1-7</mat-hint>
                </mat-form-field>
            </mat-card-content>
            <button [disabled]="loading" mat-raised-button color="primary" class="btn-block">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Submit
            </button>
            <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
        </form>
    </mat-card>
</div>