<ul role="navigation">
    <li fxShow fxHide.lt-md
        [ngClass]="{selected: currentUrl === navInfo.home.url }">
        <a class="nav-link" routerLink="{{navInfo.home.url}}" [title]="navInfo.home.title">
            <span class="nav-link-inner">{{ navInfo.home.title }}</span>
        </a>
    </li>
    <li fxShow fxHide.lt-xs
        [ngClass]="{selected: currentUrl === navInfo.courses.url }">
        <a class="nav-link" routerLink="{{navInfo.courses.url}}" [title]="navInfo.courses.title">
            <span class="nav-link-inner">{{ navInfo.courses.title }}</span>
        </a>
    </li>
    <li fxShow fxHide.lt-xs
        [ngClass]="{selected: currentUrl === navInfo.reviews.url }">
        <a class="nav-link" routerLink="{{navInfo.reviews.url}}" [title]="navInfo.reviews.title">
            <span class="nav-link-inner">{{ navInfo.reviews.title }}</span>
        </a>
    </li>
    <li fxShow fxHide.lt-md
        [ngClass]="{selected: currentUrl === navInfo.createReview.url }">
        <a class="nav-link" routerLink="{{navInfo.createReview.url}}" [title]="navInfo.createReview.title">
            <span class="nav-link-inner">{{ navInfo.createReview.title }}</span>
        </a>
    </li>
    <li fxShow fxHide.lt-lg
        *ngIf="isLoggedIn" [ngClass]="{selected: currentUrl === navInfo.settings.url }">
        <a class="nav-link" routerLink="{{navInfo.settings.url}}" [title]="navInfo.settings.title">
            <span class="nav-link-inner">{{ navInfo.settings.title }}</span>
        </a>
    </li>
    <li fxShow fxHide.lt-lg
        *ngIf="isLoggedIn" [ngClass]="{selected: currentUrl === navInfo.logout.url }">
        <a class="nav-link" (click)="logout()" [title]="navInfo.logout.title">
            <span class="nav-link-inner">{{ navInfo.logout.title }}</span>
        </a>
    </li>
    <li fxShow fxHide.xs
        *ngIf="!isLoggedIn">
        <a class="nav-link" routerLink="{{navInfo.login.url}}" [title]="navInfo.login.title">
            <span class="nav-link-inner">{{ navInfo.login.title }}</span>
        </a>
    </li>
</ul>