<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>Verify Email</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <br>
            <h3>The last step is to verify your email before you start posting reviews.</h3>
            <a mat-stroked-button color="primary" 
                    href="https://mail.google.com/a/utexas.edu">
                Open UT Mail
            </a>
            <a mat-stroked-button color="accent" (click)="resendVerification()">
                Resend Verification Email
            </a>
        </mat-card-content>
    </mat-card>
</div>