<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>Reset Password</mat-card-title>
        </mat-card-header>
        <form class="reset-form" [formGroup]="resetForm" (ngSubmit)="onSubmit()">
            <mat-card-content>
                <mat-form-field class="form-field-full-width">
                    <input matInput placeholder="Email"
                           formControlName="email"
                           [ngClass]="{'is-invalid': submitted}">
                </mat-form-field>
            </mat-card-content>
            <button [disabled]="loading" mat-raised-button color="primary" class="btn-block">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Submit
            </button>
            <div *ngIf="error" class="alert">{{error}}</div>
        </form>
    </mat-card>
</div>