.mat-card {
    max-width: 400px;
}

.alert {
    width: auto;
    height: auto;
    border-radius: 12px;
    font-size: 17px;
    line-height: 1.23536;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    background-clip: padding-box;
    padding: .70588rem .94118rem;
    margin-bottom: 17px;
    margin-top: 17px;
    color: #1d1d1f;
    border: 1px solid #d2d2d7;
    background-color: rgba(0,0,0,.02);
    border-color: rgba(227,0,0,.4);
    background-color: #fff2f4;
}