<table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8" [trackBy]="trackById" matSortActive="ClassName" matSortDirection="asc">

  <ng-container matColumnDef="CourseNumber">
    <th mat-header-cell *matHeaderCellDef>Course Number</th>
    <td mat-cell *matCellDef="let class">{{class.CourseNumber}}</td>
  </ng-container>

  <ng-container matColumnDef="ClassName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Course Name</th>
    <td mat-cell *matCellDef="let class">{{class.ClassName}}</td>
  </ng-container>

  <ng-container matColumnDef="RatingCount">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Reviews</th>
    <td mat-cell *matCellDef="let class">{{class.RatingCount}}</td>
  </ng-container>

  <ng-container matColumnDef="RatingAvg">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Rating</th>
    <td mat-cell *matCellDef="let class">{{class.RatingCount ? (class.RatingAvg*scale/7 | number: '1.0-1') : '--'}}</td>
  </ng-container>

  <ng-container matColumnDef="DifficultyAvg">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Difficulty</th>
    <td mat-cell *matCellDef="let class">{{class.RatingCount ? (class.DifficultyAvg*scale/7 | number: '1.0-1') : '--'}}</td>
  </ng-container>

  <ng-container matColumnDef="WorkloadAvg">
    <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Hours spent per week">Workload (hrs/wk)</th>
    <td mat-cell *matCellDef="let class">{{class.RatingCount ? (class.WorkloadAvg | number: '1.0-1') : '--'}}</td>
  </ng-container>

  <ng-container matColumnDef="BookUsefulnessAvg">
    <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="How useful is the textbook?">Textbook</th>
    <td mat-cell *matCellDef="let class">
      <div *ngIf="class.Textbook; else noTextbook">{{(class.RatingCount && class.BookUsefulnessCount) ? (class.BookUsefulnessAvg*scale/7 | number: '1.0-1') : '--'}}</div>
      <ng-template #noTextbook>No Book</ng-template>
    </td>
  </ng-container>

  <ng-container matColumnDef="Semester">
    <th mat-header-cell *matHeaderCellDef class="center">Semester</th>
    <td mat-cell *matCellDef="let class" class="center"
      matTooltip="{{objectKeys(class.semesters).toString().split(',').join('\n')}}" [matTooltipPosition]="'below'">
      <mat-icon *ngIf="class.season.spring" svgIcon="icons:spring"></mat-icon>
      <mat-icon *ngIf="class.season.summer" svgIcon="icons:summer"></mat-icon>
      <mat-icon *ngIf="class.season.fall" svgIcon="icons:fall"></mat-icon>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/courses', row.ClassName]"></tr>
</table>