::ng-deep .mat-cell,
::ng-deep .mat-header-cell {
    word-wrap: initial;
    display: table-cell;
    padding: 0px 5px !important;
    line-break: unset;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
}

table {
  width: 100%;
}

th {
  font-weight: bold;
}

::ng-deep .mat-tooltip  {
  white-space: pre-line !important;
}

::ng-deep .mat-chip-list-wrapper {
  justify-content: center;
  margin: 1px !important;
}

tr.mat-row:hover {
  background-color: #F5F5F5;
}

.my-chips {
  font-size: 11px;
  min-height: 20px;
  margin:1px !important;
  padding: 2px 8px;
}

.th .center {
  text-align: center !important;
}

.constrain-width {
  max-width: 120px;
}

.circle {
  width: 16px;
  height: 16px;
  line-height: 16px;
  border-radius: 50%;
  font-size: 12px;
  color: #fff;
  text-align: center;
  display: inline-block;
  margin: 3px;
}

.summer {
  color: #fff;
  background: #ebbc00;
}

.spring {
  color: #fff;
  background: #00c261;
}

.fall {
  color: #fff;
  background: #98482b;
}

// .spring:hover {
//   color: #ccc;
//   text-decoration: none;
//   background: #00f379;
// }

// .summer:hover {
//   color: #ccc;
//   text-decoration: none;
//   background: #ffd427;
// }

// .fall:hover {
//   color: #ccc;
//   text-decoration: none;
//   background: #be5a36;
// }

//https://bryanhadaway.com/how-to-create-circles-with-css/
// .stylish {
//   display: block;
//   width: 100px;
//   height: 100px;
//   border-radius: 66px;
//   border: 4px double #ccc;
//   font-size: 20px;
//   color: #666;
//   line-height: 100px;
//   text-align: center;
//   text-decoration: none;
//   text-shadow: 0 1px 0 #fff;
//   background: #ddd;
// }
// .stylish:hover {
//   border: 4px double #bbb;
//   color: #aaa;
//   text-decoration: none;
//   background: #e6e6e6;
// }
