.mat-mdc-card {
    max-width: 800px;
}

:host ::ng-deep .mat-mdc-form-field-subscript-wrapper {
    font-size: 75%;
    color: #545454;
  }

.edit-metadata-divider {
    margin: 20px 0px !important;
    &.field-divider {
        margin-top: 12px !important;
        margin-bottom: 30px !important;
        // margin-bottom: 37px !important;
    }
    // border-color: white !important;
}