<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>{{courseName}}</mat-card-title>
        </mat-card-header>
        <mat-card-content style="text-align: center;">
            <br>
            <form class="user-edit-form" 
                  [formGroup]="courseMetadataForm" 
                  (ngSubmit)="onSubmit()">
                <mat-form-field class="form-field-full-width">
                    <mat-label>Category</mat-label>
                    <mat-select type="boolean" formControlName="category" required>
                        <mat-option *ngFor="let category of categories" value="{{category}}">{{category | titlecase}}</mat-option>
                    </mat-select>
                    <mat-hint>What type of credit is this course?</mat-hint>
                </mat-form-field>
                <mat-divider [inset]="true" [ngClass]="'edit-metadata-divider'"></mat-divider>
                <mat-form-field class="form-field-full-width">
                    <input matInput placeholder="Professor Name" formControlName="professor">
                    <mat-hint>Separate professor names with an ampersand ' & '.</mat-hint>
                </mat-form-field>
                <mat-divider [inset]="true" [ngClass]="'edit-metadata-divider'"></mat-divider>
                
                <!-- Slack Channel Fields have to go in a separate box because I can't put a field in a field -->
                <mat-form-field class="form-field-full-width">
                    <mat-label>Slack Channel</mat-label>
                    <mat-select type="boolean" formControlName="slack channelBool" required>
                        <mat-option value="true">Yes</mat-option>
                        <mat-option value="false">No</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="form-field-full-width" *ngIf="f['slack channelBool'].value === 'true'">
                    <input matInput placeholder="#course-channel" formControlName="slack channel">
                </mat-form-field>
                <mat-form-field class="form-field-full-width" *ngIf="f['slack channelBool'].value === 'true'">
                    <input matInput placeholder="Slack Channel Link" formControlName="slack channelLink">
                </mat-form-field>
                <mat-divider [inset]="true" [ngClass]="'edit-metadata-divider field-divider'"></mat-divider>

                <div *ngFor="let field of fields">
                    <mat-form-field class="form-field-full-width">
                        <mat-label>{{field | titlecase}}</mat-label>
                        <mat-select type="boolean" formControlName="{{field}}Bool" required>
                            <mat-option value="true">Yes</mat-option>
                            <mat-option value="false">No</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="form-field-full-width" *ngIf="f[field + 'Bool'].value === 'true'">
                        <textarea matInput type="textarea" rows="3" placeholder="{{field | titlecase}} Information" formControlName="{{field}}"></textarea>
                    </mat-form-field>
                    <mat-divider [inset]="true" [ngClass]="'edit-metadata-divider field-divider'"></mat-divider>
                </div>
                <mat-form-field class="form-field-full-width">
                    <mat-label>Languages</mat-label>
                    <mat-select formControlName="languages" multiple>
                        <mat-option *ngFor="let language of languages" [value]="language">{{language}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <br><button mat-stroked-button color="primary">Save Changes</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>