Frequently Asked Questions
<mat-accordion *ngFor="let category of faqCategories | keyvalue" class="example-headers-align" multi>
    <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
              <p>{{category.key}}</p>
          </mat-panel-title>
          <mat-panel-description>
            <mat-icon matTooltip="Create new {{category.key}} FAQ">add_circle_outline</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>        
        <faq-entry *ngFor="let faqEntry of category.value"
            [title]="faqEntry.title" 
            [subtitle]="formatSubtitle(faqEntry.lastModifiedAt)"
            [body]="faqEntry.body"
            [id]="faqEntry.entryId"
            [isUserLoggedIn]="isUserLoggedIn"></faq-entry>
    </mat-expansion-panel>
</mat-accordion>