@use '@angular/material' as mat;


@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$ng-io-primary: mat.define-palette(mat.$blue-palette, 700, 600, 800);
$ng-io-accent:  mat.define-palette(mat.$red-palette, 700, 600, 800);
$ng-io-approve: mat.define-palette(mat.$blue-palette, 700, 600, 800);

// The warn palette is optional (defaults to red).
$my-warn:    mat.define-palette(mat.$red-palette);

$navbar-color: mat.define-palette(mat.$blue-palette, 700);
$background-color: mat.$blue-palette;

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
$my-primary: $ng-io-primary;
$my-accent: $ng-io-accent;
$my-approve: $ng-io-approve;

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
   warn: $my-warn,
   approve: $my-approve
 ),
 typography: mat.define-typography-config(),
 density: 0,
));

@include mat.all-component-themes($my-theme);