<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>Register</mat-card-title>
        </mat-card-header>
    
        <form class="register-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <mat-card-content>
                <mat-form-field class="form-field-full-width">
                    <input matInput placeholder="First Name"
                           formControlName="firstName"
                           [ngClass]="{'is-invalid': submitted && f.firstName.errors}">
                </mat-form-field>

                <mat-form-field class="form-field-full-width">
                    <input matInput placeholder="Last Name"
                           formControlName="lastName"
                           [ngClass]="{'is-invalid': submitted && f.lastName.errors}">
                </mat-form-field>

                <mat-form-field class="form-field-full-width">
                    <input matInput placeholder="Email"
                           formControlName="email"
                           [ngClass]="{'is-invalid': submitted && f.email.errors}">
                </mat-form-field>
        
                <mat-form-field class="form-field-full-width">
                    <input matInput type="password" 
                           formControlName="password" 
                           [ngClass]="{'is-invalid': submitted && f.email.errors}"
                           placeholder="Password">
                </mat-form-field>

                <mat-form-field class="form-field-full-width">
                    <mat-label>First Semester</mat-label>
                        <mat-select>
                            <mat-option [value]="semester" *ngFor="let semester of Semesters">
                                {{semester}}
                            </mat-option>
                        </mat-select>
                </mat-form-field>
            </mat-card-content>
            <button mat-stroked-button color="accent" class="btn-block">Register</button>
        </form>
    </mat-card>
</div>