<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>Register</mat-card-title>
        </mat-card-header>
    
        <form class="register-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <mat-card-content>
                <mat-form-field class="form-field-full-width">
                    <input matInput placeholder="First Name"
                           formControlName="firstName"
                           [ngClass]="{'is-invalid': submitted && f.firstName.errors}">
                    <mat-error *ngIf="f.firstName.errors">
                        You must include your first name. This will never be shown publicly.
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="form-field-full-width">
                    <input matInput placeholder="Last Name"
                           formControlName="lastName"
                           [ngClass]="{'is-invalid': submitted && f.lastName.errors}">
                    <mat-error *ngIf="f.lastName.errors">
                        You must include your last name. This will never be shown publicly.
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="form-field-full-width">
                    <input matInput placeholder="UTexas Email"
                           formControlName="email"
                           [ngClass]="{'is-invalid': submitted && f.email.errors}">
                    <mat-error *ngIf="f.email.errors">
                        Must provide a <strong>@utexas.edu</strong> email.
                    </mat-error>
                </mat-form-field>
        
                <mat-form-field class="form-field-full-width">
                    <input matInput type="password" 
                           formControlName="password" 
                           [ngClass]="{'is-invalid': submitted && f.email.errors}"
                           placeholder="Password">
                    <mat-error *ngIf="f.password.errors">
                        Password must be at least <strong>6 characters</strong> in length.
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="form-field-full-width">
                    <mat-label>What was your first semester in the program?</mat-label>
                        <mat-select formControlName="firstSemester">
                            <mat-option [value]="semester" 
                                        *ngFor="let semester of Semesters">
                                {{semester}}
                            </mat-option>
                        </mat-select>
                    <mat-error *ngIf="f.firstSemester.errors">
                        You must select a semester.
                    </mat-error>
                </mat-form-field>
            </mat-card-content>
            <button mat-stroked-button color="accent" class="btn-block">Register</button>
            <div *ngIf="error" class="alert">{{error}}</div>
        </form>
    </mat-card>
</div>