.mat-mdc-card {
    max-width: 500px;
    padding: 30px;
    .mat-mdc-card-header{
        justify-content: center;
        text-align: center;
    }
}

.panda-party {
    width: 100%;
    height: auto;
    padding-top: 20px;
}