.mat-card-header, .mat-card-title, .mat-card-subtitle {
  display: flex;
  justify-content: center;
}

.mat-card-content {
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 21px;
}