.mat-mdc-card-header, .mat-mdc-card-title, .mat-mdc-card-subtitle {
  display: flex;
  justify-content: center;
  text-align:center;
  align-items: center;
}

.mat-mdc-card-header {
  height: 100px;
}

/* TODO(mdc-migration): The following rule targets internal classes of chips that may no longer apply for the MDC version. */
.mat-chip-list {
  display: flex;
  justify-content: center;
}

.course-thumbnail {
  width: 150px; /* Set your desired width */
  height: 150px; /* Set your desired height */
  object-fit: cover; /* Ensure the image covers the area without distortion */
}