<mat-card >
  <mat-card-header>
    <mat-card-title>{{course.ClassName}}</mat-card-title>
    <mat-card-subtitle>{{course.CourseNumber}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <img src="{{course.GraphicThumbnail}}">
  </mat-card-content>
  <mat-chip-listbox>
    <div *ngFor="let item of course.meta | keyvalue">
      <mat-chip-option *ngIf="item.value">{{item.key | titlecase}}</mat-chip-option>
    </div>
    <mat-chip-option *ngFor="let lang of course.languages">{{lang}}</mat-chip-option>
  </mat-chip-listbox>
</mat-card>