<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>My Reviews</mat-card-title>
        </mat-card-header>
        <mat-card-content class="user-reviews-card-content">
            <mat-nav-list>
                <mat-list-item *ngIf="!reviewData.length" routerLink="/createReview" class="view-own-reviews-nothing-here"><span matLine>You haven't created any reviews yet. Click here to get started</span></mat-list-item>
                <mat-list-item *ngFor="let review of reviewData" routerLink="/review/{{review.reviewId}}">
                    <span matLine>{{ review.course }}&nbsp; — &nbsp;{{ review.title }}</span>
                    <div (click)="$event.stopPropagation()" class="list-buttons">
                        <button mat-icon-button (click)="openSnackBar('Link copied to clipboard.')">
                            <mat-icon>add_link</mat-icon>
                        </button>
                        <button mat-icon-button routerLink="/review/edit/{{review.reviewId}}">
                            <mat-icon>mode_edit</mat-icon>
                        </button>
                        <button mat-icon-button (click)="removeReview(review.reviewId)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </mat-list-item>
              </mat-nav-list>
        </mat-card-content>
    </mat-card>
</div>