<div class="content">
  <div class="image-container" #imageContainer>
    <div class="gradient-container" #gradientContainer>
      <div class="padded-cell white">
        <h1 class="flat-bottom">{{courseName}}</h1>
        <h3 class="white">({{courseNumber}})</h3>
        <mat-chip-list>
          <mat-chip>{{course?.category}}&nbsp;<mat-icon svgIcon="icons:check"></mat-icon></mat-chip>
          <div *ngFor="let item of course?.meta | keyvalue">
            <mat-chip *ngIf="item.value">{{item.key | titlecase}}&nbsp;<mat-icon svgIcon="icons:check"></mat-icon></mat-chip>
          </div>
          <mat-chip *ngFor="let lang of course?.languages">{{lang}}&nbsp;<mat-icon svgIcon="icons:check"></mat-icon></mat-chip>
        </mat-chip-list>
      </div>
    </div>
  </div>
  <div class="grid-container">
    <app-course-card *ngFor="let card of cards" [title]="card.title" [subtitle]="card.subtitle" [value]="card.value"></app-course-card>
  </div>
  <br>
  <div class="review-spacer">
    <h2>Course Reviews:</h2>
    <div class="next-prev-container">
      Page {{pageNumber + 1}}
      <button mat-stroked-button color="primary" [disabled]="disablePrev" (click)=getPrevPage()>Prev</button>
      <button mat-stroked-button color="primary" [disabled]="disableNext" (click)="getNextPage()">Next</button>
    </div>
  </div>
  <div class="review-container">
    <mat-card *ngFor="let review of reviewData | slice:pageNumber*pageLength:(pageNumber+1)*pageLength">
      <mat-card-header>
        <mat-card-title>{{review.title}}</mat-card-title>
        <mat-card-subtitle>{{courseName}}</mat-card-subtitle>
        <mat-card-subtitle>{{review.timestamp.toMillis() | date: 'M/d/yyyy h:mm a z'}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        Rating: {{review.rating}} <br>
        Difficulty: {{review.difficulty}} <br>
        Workload: {{review.workload}} <br>
        Book Usefulness: {{review.bookUsefulness || 'N/A'}}<br><br>
        <b>Review:</b><br>
          <p style="white-space: pre-line;">
            {{review.review}}
          </p>
        <br><br>
      <!-- </mat-card-content> -->
      Was this review helpful?
      <mat-button-toggle-group name="helpful" 
                               aria-label="Helpful" 
                               [disabled]="!isLoggedIn"
                               matTooltip="Must be logged in."
                               [matTooltipDisabled]="isLoggedIn">
        <mat-button-toggle value="yes">Yes</mat-button-toggle>
        <mat-button-toggle value="no">No</mat-button-toggle>
      </mat-button-toggle-group>
    </mat-card-content>
    </mat-card>
  </div>
  <div class="review-footer">
    <div class="next-prev-container">
      Page {{pageNumber + 1}}
      <button mat-stroked-button color="primary" [disabled]="disablePrev" (click)=getPrevPage()>Prev</button>
      <button mat-stroked-button color="primary" [disabled]="disableNext" (click)="getNextPage()">Next</button>
    </div>
  </div>
</div>