<div class="content">
  <div class="image-container" #imageContainer>
    <div class="gradient-container" #gradientContainer>
      <div class="padded-cell white">
        <h1 class="flat-bottom">{{courseName}}</h1>
        <h3 class="white">({{courseNumber}})</h3>
        <mat-chip-list>
          <mat-chip>{{course?.category}}&nbsp;<mat-icon svgIcon="icons:check"></mat-icon></mat-chip>
          <div *ngFor="let item of course?.meta | keyvalue">
            <mat-chip *ngIf="item.value">{{item.key | titlecase}}&nbsp;<mat-icon svgIcon="icons:check"></mat-icon></mat-chip>
          </div>
          <mat-chip *ngFor="let lang of course?.languages">{{lang}}&nbsp;<mat-icon svgIcon="icons:check"></mat-icon></mat-chip>
        </mat-chip-list>
      </div>
    </div>
  </div>
  <div class="grid-container">
    <app-course-card *ngFor="let card of cards" [title]="card.title" [subtitle]="card.subtitle" [value]="card.value"></app-course-card>
  </div>
  <br>
  <div class="review-spacer">
    <h2>Course Reviews:</h2>
    <div class="next-prev-container">
      Page {{pageNumber + 1}}
      <button mat-stroked-button color="primary" [disabled]="disablePrev" (click)=getPrevPage()>Prev</button>
      <button mat-stroked-button color="primary" [disabled]="disableNext" (click)="getNextPage()">Next</button>
    </div>
  </div>
  <div class="review-container">
    <app-review-detail [reviewData]="reviewData"></app-review-detail>
  </div>
  <div class="review-footer">
    <div class="next-prev-container">
      Page {{pageNumber + 1}}
      <button mat-stroked-button color="primary" [disabled]="disablePrev" (click)=getPrevPage()>Prev</button>
      <button mat-stroked-button color="primary" [disabled]="disableNext" (click)="getNextPage()">Next</button>
    </div>
  </div>
</div>