h1 {
  font-size: 5rem;
  line-height: 5rem;
  font-weight: 900;
  text-shadow: 1px 1px 1px rgba(51, 63, 72, 0.4);
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 0.75em;
}

h3 {
  font-size: 2.5rem;
  line-height: 2.75rem;
  font-weight: 700;
  margin-top: 1em;
  margin-bottom: 0px;
  padding-bottom: 10px;
  letter-spacing: -0.025rem;
}

.review-spacer {
  display: flex;
  justify-content: space-between;
  margin: 0 0 16px;
}

.next-prev-container button {
  margin-left: 4px;
}

.mat-card {
  margin: 10px 0px;
}

.mat-card-content{
  margin: 0px 15px 50px 15px;
}

.grid-container {
  display: grid;
  grid-gap: 15px;
  overflow: hidden;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-auto-flow: dense;
  justify-content: center;
  padding-top: 20px;
}

.padded-cell {
  padding: 10% 3%;
}

.white {
  color: #ffffff !important;
}

.content {
  color: #545454;
  font-family: "Libre Franklin", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  box-sizing: border-box;
  padding: 0;
  justify-content: center;
  max-width: 1180px;
  margin: 0 auto;
  margin-top: 20px;
}

.image-container {
  background-size: contain;
  background-position: 90% 50%;
  background-repeat: no-repeat;
  background-attachment: local;
  background-color: #005f86;
  // background-image: url(https://www.cs.utexas.edu/sites/default/files/images/Machine-Learning_75opacity.png);
}

.gradient-container {
  margin-bottom: 0px;
  background-size: cover;
  // background: linear-gradient(
  //   180deg,
  //   rgba(51, 63, 72, 0.71) 0%,
  //   rgba(0, 95, 134, 0.84) 100%
  // );
}
