<div class="dashboard-header">
  <span class="dashboard-item dash-image" id="big-image"><img src="{{logoUrl}}"></span>
  <h1 class="dashboard-item">Welcome to {{courseService.websiteName}}!</h1>
  <span class="dashboard-item">
    This is the unofficial site for the University of Texas
    at Austin Masters of {{courseService.degreeName}}. Here you
    can find reviews for classes and add your own.
  </span>
  <div class="feedback-container">
    <a 
        href="https://github.com/MSCSHub/MSCSHub/issues"
        class="feedback-button"
        target="_blank"
    >
      Found a bug? Want a new feature?<br>Send Feedback
    </a>
  </div>
</div>
<app-course-grid></app-course-grid>