.cl-container {
  overflow-x: auto;
  @media(min-width:1600px){
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.dashboard-header {
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 20px;
  flex-direction: column;
  text-align: center;
}

.dashboard-item {
  display: flex;
  align-content: center;
  justify-content: center;
}

.dash-image {
  margin-bottom: 20px;
}

.feedback-container {
  display: flex;
  justify-content: center;
}

.feedback-button {
  margin: 10px 0px;
  max-width: 250px;
  line-height: 1.75;
  // color: rgb(57,114,234);
}

.center-text, .radio-container {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}