.filter-grid {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 15px;
  padding-bottom: 0px;
}

.query-card {
  .mat-form-field {
    margin-right: 15px;
  }

  .op-width {
    max-width: 55px;
  }

  .input-width {
    margin-bottom: 0px;
    max-width: 150px;
  }
}

.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2), 0px 0px 0px 1px rgba(0, 0, 0, 0.14), 1px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.review-spacer {
  display: flex;
  justify-content: space-between;
  margin: 0 0 16px;
}

.next-prev-container button {
  margin-left: 4px;
}

.mat-card {
  margin: 10px 0px;
}

.mat-card-content{
  margin: 0px 15px 50px 15px;
}

.review-footer {
  display: flex;
  justify-content: flex-end;
}

.content {
  color: #545454;
  font-family: "Libre Franklin", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  box-sizing: border-box;
  padding: 0;
  justify-content: center;
  max-width: 1180px;
  margin: 0 auto;
  margin-top: 20px;
//   display: flex;
}