<!-- <div *ngIf="isFetching" class="progress-bar-container">
    <mat-progress-bar mode="indeterminate" color="warn"></mat-progress-bar>
</div> -->
<mat-toolbar color="primary" class="app-toolbar no-print">
    <mat-toolbar-row>
        <button mat-button class="hamburger" (click)="doMenuClick()">
            <mat-icon svgIcon="menu"></mat-icon>
        </button>
        <a class="nav-link home" routerLink="/">
            <img src="assets/images/logos/Colorwheel/Colorwheel-128.png" width="40" height="40" title="Home" alt="Home">
        </a>
        <app-nav-nodes></app-nav-nodes>
        <app-search-input class="search-container" fxHide.lt-sm fxShow #searchBox 
                          (onSearch)="doSearch($event)" (onFocus)="doSearch($event)">
        </app-search-input>
        <button fxHide.lt-md mat-raised-button class="donate" (click)="donateLink()">Donate</button>
        <div class="toolbar-external-icons-container" fxHide.lt-md fxShow>
            <a href="https://utmscso.slack.com" title="Slack" aria-label="UT MSCSO on Slack">
                <mat-icon svgIcon="logos:slack"></mat-icon>
            </a>
            <a href="https://github.com/MSCSHub/MSCSHub" title="GitHub" aria-label="UT MSCSO on github">
                <mat-icon svgIcon="logos:github"></mat-icon>
            </a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>