.my-divider {
    align-items: center;
    border-bottom: 1px solid #dadde1;
    display: flex;
    margin: 20px 0px;
    text-align: center;
}

.forgot {
    display:flex;
    justify-content: center;
    margin-top: 20px;
    color: rgb(57,114,234);
    font-weight: 500;
}

.btn-create {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(101,181,67);
}

.btn-block{
    padding: 5px 0px;
    font-weight: 500;
    font-size: 18px;
}

.mat-card {
    max-width: 400px;
}