<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>Sign In</mat-card-title>
        </mat-card-header>
        <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <mat-card-content>
                <mat-form-field class="form-field-full-width">
                    <input matInput placeholder="Email"
                           formControlName="email"
                           [ngClass]="{'is-invalid': submitted && f.email.errors}">
                </mat-form-field>
                <mat-form-field class="form-field-full-width">
                    <input matInput type="password" 
                           formControlName="password" 
                           [ngClass]="{'is-invalid': submitted && f.email.errors}"
                           placeholder="Password">
                </mat-form-field>
            </mat-card-content>
            <button [disabled]="loading" mat-stroked-button color="accent" class="btn-block">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Sign In
            </button>
            <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
        </form>
    </mat-card>
</div>