<div class="course-map-container">
    <div>
        <h1>Course Relationship Diagram</h1><br>
        <h2>Last updated in Spring 2022</h2>
        <span>
            Created by Abhishek D. and maintained by the community.<br>
            The source file is 
            <a href="https://github.com/MSCSHub/MSCSHub/tree/main/src/assets/images/course-map">
                available on the git repo
            </a> 
            and will need to be updated as the program grows.
        </span>
    </div>
    <!-- Note: The source file will need to be updated periodically to keep it up to date -->
    <!-- Note: It was created using draw.io and can be modified by uploading the old file -->
    <img class="course-map-image"
         src="assets/images/course-map/UT MSCSO Course Relations.png"
         alt="Course map showing how each is depe">
</div>