.course-map-container {
    // display: flex;
    // justify-content: center;
    text-align: center;
    // margin-top: 15px;
}

.course-map-image {
    margin-top: 15px;
    max-width: 1032px;
    width: -webkit-fill-available;
}

a {
    color: #1976d2;
}

a:hover {
    text-decoration: underline;
}